.one{
    font-family:'Open Sans';
    font-weight: 300;
    font-style: italic;
    
}
.two{
    font-family: 'Cairo',sans-serif;
    font-weight: 700;
}
.three{
    font-family: 'jomhuria',cursive;
    font-weight: 400;
}