.grid {
  background-color: #ddd;
  padding: 20px;
  width: 800px;
  height: 400px;
}
 body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    background-color: #eee;
    padding: 20px;
    width: 800px;
    height: 400px;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(6, auto);
    grid-template-areas:
        "eight eight eight"
        "two   two   three"
        "four  five  five"
        "six   five  five"
        "seven five  five"
        "one   one   one";
}

.grid div {
    background-color: #1d83d7;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.one {
    grid-area: one;
}

.two {
    grid-area: two;
}

.three {
    grid-area: three;
}

.four {
    grid-area: four;
}

.five {
    grid-area: five;
}

.six {
    grid-area: six;
}

.seven {
    grid-area: seven;
}

.eight {
    grid-area: eight;
}