body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
div{
    width: 100px;
    height: 100px;
    background-color: #EEE;
    border-radius: 50%;
    border: 5px solid;
    border-color: deeppink;
    border-left-color:transparent ;
    position: relative;
    animation-name: spin;
    animation-iteration-count: infinite;
    animation-duration: 2s;


}
div::after{
    content:"";
    width: 120px;
    height: 120px;
    border:5px solid;
    border-radius: 50%;
    border-color:rgb(0, 128, 255) ;
    border-right-color:transparent ;
    position: absolute;
    top: -15px;
    left: -15px;
    animation-name: spin;
    animation-iteration-count: infinite;
    animation-duration: 2s;

}
div::before{
    content:"";
    width: 140px;
    height: 140px;
    border: 5px solid;
    border-radius: 50%;
    border-color:rgb(212, 117, 28) ;
    border-bottom-color:transparent ;
    position: absolute;
    top: -25px;
    left: -25px; 
    animation-name: spin;
    animation-iteration-count: infinite;    
    animation-duration: 2s;
    
}
@keyframes spin {
    from {
        transform:  rotate(0deg);
        }

    to {
        transform:  rotate(360deg);
    }
}


div:hover,div:hover::before,
div:hover::after {
    animation-play-state: paused;
}